* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    grid-area: header-area;
}

nav {
    grid-area: menu;
   
}

aside {
    grid-area: aside-area;
    
}

main {
    grid-area: main-area;
    background-color: rgb(255, 242, 0);
}

footer {
    grid-area: footer-area;
    background-color: rgb(255, 0, 0);
    ;
}


@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(218, 128, 128);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header-area'
            'menu-area'
            'aside-area'
            'main-area'
            'footer-area';
    }

    header h1 {
        text-align: center;
        padding: 50px;
        font-size: 30px;
        color: white;
        text-transform: uppercase;
    }

    nav {
        display: flex;
        justify-content: center;
        background-color: rgb(246, 255, 0);
        padding: 10px;
    }

    nav a {
        color: white;
        background-color: #333;
        padding: 10px 20px;
        margin: 5px;
        text-decoration: none;
        border-radius: 10px;
    }

    aside {
        padding: 10px;
        text-align: center;
        background-color: rgb(246, 255, 0);
        height: auto;
    }

    main {
        padding: 20px;
        margin: 10px;
        border-radius: 14px;
        background-color: rgb(246, 255, 0);
    }

    footer {
        padding: 14px;
        color: rgb(255, 0, 0);
        text-align: center;
    }
}


/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-areas:
            'header-area header-area'
            'menu-area aside-area'
            'menu-area main-area'
            'footer-area footer-area';
    }

    header h1 {
        text-align: center;
        padding: 15px;
        font-size: 30px;
    }

    nav {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    aside {
        padding: 10px;
        text-align: center;
    }

    main {
        padding: 15px;
        margin: 20px;
        border-radius: 14px;
    }

    footer {
        padding: 19px;
        text-align: center;
    }
}


/*portátil*/
@media only screen and (min-width: 1024px) and (max-width: 2559px) {
    body {
        display: grid;
        grid-template-rows: 70px 55px 300px 1fr 50px;
        grid-template-areas:
            'header-area'
            'menu-area'
            'aside-area'
            'main-area'
            'footer-area';
    }

    header {
        padding: 205px;
        text-align: center;
        font-size: 40px;
        background-color: rgba(255, 0, 0, 0.825);
    }

    nav {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    aside {
        padding: 10px;
        text-align: center;
    }

    main {
        padding: 30px;
        margin: auto;
        border-radius: 14px;
    }

    footer {
        padding: 4px;
        text-align: center;
        text-decoration:double, underline, overline;
    }
}


/*4k*/
@media only screen and (min-width: 2560px) {
    body {
        grid-template-rows: 100px 75px 400px 1fr 100px;
    }

    header {
        padding: 20px;
        font-size: 40px;
    }

    nav {
        padding: 20px;
    }

    aside {
        padding: 20px;
        font-size: 18px;
    }

    main {
        padding: 50px;
        margin: 50px;
        font-size: 22px;
    }

    footer {
        padding: 30px;
        font-size: 20px;
    }
}